@page "/order-success"
@inject ICartService CartService

<PageTitle>Thank you!</PageTitle>

<h3>OrderSuccess</h3>

<span>Thank you for your order! You can check you orders <a href="orders">here</a>.</span>

@code {
    //We oveeride the oninizilized
    protected override async Task OnInitializedAsync()
    {
        await CartService.GetCartItemsCount();
    }
}
